[submodule "cosmos-sdk"]
	path = cosmos-sdk-go
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "wasmd"]
	path = wasmd
	url = https://github.com/CosmWasm/wasmd.git
[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "xion"]
	path = xion
	url = https://github.com/burnt-labs/xion
[submodule "tokenfactory"]
	path = tokenfactory
	url = https://github.com/strangelove-ventures/tokenfactory.git
